@use './rws';
  .center{text-align: center;width:100%}
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;



  .pagination {
    width: 100%;
    span {
      display: inline-block;
      padding: 0 5px;
    }
  }

  .searchNumber {
    width: 60px;
  }
  .searchString {
    width: 260px;
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 4;
  }

  .rightByTitle {
    width: 75vw;
  }

  .leftByTitle {
    //width: 20%;
    overflow: auto;
    max-height: 100vh;
    width: 20vw;
  }

  @include rws.for-tablet {
    width: 100%;
  }

  @include rws.for-mobile {
    width: 100%;
  }
}